
<input type="file" (change)="onFileChange($event)" accept=".xlsx"/>

<div>
  {{data | json}}
</div>
<!-- <table>
  <thead>
      <tr>
          <th *ngFor = "let item of dataString"> 
            {{item.key}}
          </th>
          <th>case_worked</th>
          <th>note</th>
          <th>id</th>
          <th>rownumber</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let item of data; let i = index ">
       <td > 
         {{item[i].case_worked}}
       </td> 
       <td>
         {{item[i].note}}
       </td>
       <td>{{item[i].id}}</td>  
       <td>{{item[i].__rowNum__}}</td>        
      </tr>
  </tbody>
 </table> -->
 